@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: #4d4d4d;
}

.slide-in-left {
  &-enter {
    transform: translateX(-100%);

    &-active {
      transform: translateX(0);
      opacity: 1;
      transition: all 500ms;
    }
  }
  &-exit {
    transform: translateX(0%);
    opacity: 1;

    &-active {
      transform: translateX(-100%);
      opacity: 0;
      transition: all 500ms;
    }
  }
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1.5rem;
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
  margin-top: 0;
  margin-bottom: 1rem;
}

.form_wrapper {
  list-style: none;
  margin: 0 auto;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  background: #292929;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 1rem;
  }
}
